<% layout('layouts/boilerplate') %>
<link rel="stylesheet" href="/css/stars.css">

  <div class="row mt-5">
    <div class="col-sm-12 col-md-6" >

        <div id="campgroundCarousel" class="carousel slide shadow-lg">
          <div class="carousel-inner">
          <%campground.images.forEach((img, i) => {%>
            <div class="carousel-item <%= i === 0 ? 'active' : ''%>">
              <div class="d-flex justify-content-center show-campground-image-wrapper">
                <img crossorigin="anonymous" src="<%=img.url%>" class="d-block showCampground" alt="">
              </div>
            </div>
          <% }) %>
          </div>
          <% if(campground.images.length > 1) {%>
            <button class="carousel-control-prev" type="button" data-bs-target="#campgroundCarousel" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#campgroundCarousel" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
            <% } %>
        </div>
        <div class="card mb-3 mt-3">
            <div class="card-body">
                <h5 class="card-title"><%= campground.title%></h5>
                <p class="card-text"><%= campground.description%></p>
            </div>
            <hr>
            <ul class="list-group list-group-flush border-0">
                <li class="list-group-item text-muted border-0"><%= campground.location%></li>
                <li class="list-group-item text-muted border-0">
                  Submitted by:
                  <%= campground.author ? campground.author.username : "Unknown" %>
                </li>
                <li class="list-group-item ">&#x20B1;<%= campground.price%>/night</li>
            </ul>
            <hr>
            <% if(currentUser && (campground.author && campground.author.equals(currentUser._id))) {%>
            <div class="card-body d-flex justify-content-end align-items-center">
                <a class="card-link btn text-primary border-0 bg-transparent icon-edit-btn" data-bs-toggle="tooltip" data-bs-placement="top" title="Edit" href="/campgrounds/<%=campground._id%>/edit"><i class="bi bi-pencil"></i></a>
                
                <form class="d-inline delete-form" action="/campgrounds/<%=campground._id%>?_method=DELETE" method="POST">
                    <button class="btn text-danger border-0 bg-transparent icon-del-btn" data-bs-toggle="tooltip" data-bs-placement="top" title="Delete"><i class="bi bi-trash"></i></button>
                </form>
                
            </div>
            <% } %>

            <% if(currentUser && currentUser.role === 'admin') {%>
              <div class="card-body d-flex justify-content-end align-items-center">
                  <form class="d-inline delete-form" action="/campgrounds/<%=campground._id%>?_method=DELETE" method="POST">
                      <button class="btn text-danger border-0 bg-transparent icon-del-btn" data-bs-toggle="tooltip" data-bs-placement="top" title="Delete"><i class="bi bi-trash"></i></button>
                  </form>
              </div>
            <% } %>

            <div class="card-footer text-muted ">
                <span> <small class="text-muted">Created on: <%= moment(campground.createdAt).tz('Asia/Manila').format('MMMM D, YYYY, h:mm A') %></small></span>
            </div>
        </div>

        <!-- <div>
          <a href="/campgrounds">All campgrounds</a>
        </div> -->
    </div>
    <div class="col-12 col-md-6">
      <div id="map" class="mb-3"></div>
        <% if (currentUser && currentUser.role !== 'admin'){%>
          <h2 class="mt-5">Leave a Review</h2>
          <form action="/campgrounds/<%=campground._id%>/reviews" method="POST" class="mb-3 validated-form" novalidate>
            <!-- <div class="mb-3">
              <label class="form-label" for="rating">Rating</label>
              <input class="form-range" type="range" min="1" max="5" name="review[rating]" id="rating">
            </div> -->
            <div class="mb-3">
              <fieldset class="starability-fade">
                <input type="radio" id="no-rate" class="input-no-rate" name="review[rating]" value="1" checked aria-label="No rating." />
                <input type="radio" id="first-rate1" name="review[rating]" value="1" />
                <label for="first-rate1" title="Terrible">1 star</label>
                <input type="radio" id="first-rate2" name="review[rating]" value="2" />
                <label for="first-rate2" title="Not good">2 stars</label>
                <input type="radio" id="first-rate3" name="review[rating]" value="3" />
                <label for="first-rate3" title="Average">3 stars</label>
                <input type="radio" id="first-rate4" name="review[rating]" value="4" />
                <label for="first-rate4" title="Very good">4 stars</label>
                <input type="radio" id="first-rate5" name="review[rating]" value="5" />
                <label for="first-rate5" title="Amazing">5 stars</label>
              </fieldset>
            </div>
            <div class="mb-3">
              <label class="form-label" for="body">Review here:</label>
              <textarea class="form-control shadow-sm" name="review[body]" id="body" cols="30" rows="3" required></textarea>
                  <div class="valid-feedback">
                    Looks good!
                  </div> 
            </div>
            <button class="btn btn-outline-primary">Submit</button>
          </form>
          <% } %>
          <% for(let review of campground.reviews){ %>
              <div class="card mb-3">
                <div class="card-body">
                  <div class="d-flex align-items-center mb-2">
                    <img src="<%= review.author?.avatar?.url || '/images/default-profile-icon.png' %>" class="rounded-circle me-2" style="width: 40px; height: 40px; object-fit: cover;">
                    <h5 class="card-title"> <%= review.author ? review.author.username : 'Deleted User' %></h5>
                  </div>
                    <p class="starability-result" data-rating="<%= review.rating %>">
                      Rated: <%= review.rating%> 3 stars
                    </p>
                  
                  <p class="card-text">Review: <%= review.body %></p>

                  <% if (currentUser && (currentUser.role === 'admin' || (review.author && review.author.equals(currentUser._id)))) { %>

                  <form action="/campgrounds/<%=campground._id%>/reviews/<%=review._id%>?_method=DELETE" method="POST">
                    <button class="btn text-danger border-0 bg-transparent icon-del-btn" data-bs-toggle="tooltip" data-bs-placement="top" title="Delete"><i class="bi bi-trash"></i></button>
                  </form>
                  <% } %>

                </div>                
              </div>
          <% } %>
    </div>
</div>

  
  <script>
    //
    const mapToken = '<%-process.env.MAPBOX_TOKEN%>';
    const campground = <%-JSON.stringify(campground)%>;
  </script>
  <script src="/js/showPageMap.js"></script>


